
h1 {
 padding-top:0.2em;
 padding-bottom:0.1em;
 border-bottom:4px solid #000;
 letter-spacing:-0.03em;
}

h2 {
 margin-top:1em;
 padding-bottom:0.1em;
 border-bottom:2px solid #000;
}

pre,
code,
.code,
dt,
#soundmanager-debug {
 color:#336699;
 line-height:1.5em;
}

p {
 line-height:1.5em;
 margin-bottom:1em;
}

#soundmanager-debug {
 position:fixed;
 _position:absolute; /* IE <7 */
 bottom:1em;
 right:1em;
 width:38em;
 height:30em;
 overflow:auto;
 padding:0px;
 margin:1em;
 font-family:monaco,"VT-100",terminal,"lucida console",courier,system;
 opacity:0.9;
 color:#333;
 border:1px solid #ccddee;
 -moz-border-radius:3px;
 -khtml-border-radius:3px;
 -webkit-border-radius:3px;
 background:#f3f9ff;
}

/*
#soundmanager-debug code {
 font-size:1.1em;
 *font-size:1em;
}
*/

#soundmanager-debug div {
 font-size:x-small;
 padding:0.2em;
 margin:0px;
}

